################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core.BookStore/.vs/Core.BookStore
/Core.BookStore/Core.BookStore/obj
/Core.BookStore/Core.BookStore/bin/Debug/net6.0
